{% extends "edit_pacient_base.html" %}


{% block content %}

    <form method="POST">
        <a href="{% url 'home' %}" class="btn_save">Отменить правки</a>
        <button class="btn_save" type="submit" name="return_na_vps">Вернуть на доработку Зав.ВПС</button>
        <button class="btn_save" type="submit" name="return_na_ker">Вернуть на доработку КЭР</button>
        <button class="btn_save" type="submit" name="save_glav">Сохранить</button>
        <button class="btn_save" type="submit" name="go_dzm">Сохранить для передачи в ДЗМ</button>
<!--        <a href="#" class="btn_save">Вернуть на корректировку</a>-->

        {% csrf_token %}

        <div class="field-group-2-columns">
            <div>

                <fieldset >
                    <legend>Поля для внесения данных</legend>
                    <table>
                        <tr>
                            <th>ФИО врача:</th>
                            <td> {{ patient.fio_vracha  }}  </td>
                        </tr>
                        <tr>
                            <th>Сравнение "Повода вызова СМП" с Протоколами врача ЦПП выездов ДО и ПОСЛЕ вызова СМП:</th>
                            <td> {{ patient.sravnenie_povoda_vyz_smp_s_prot_vracha_cpp_do_i_posle  }}  </td>
                        </tr>
                        <tr>
                            <th>Действия ЦПП:</th>
                            <td> {{ patient.dejstviya_cpp }}  </td>
                        </tr>
                        <tr>
                            <th>Контроль исполнения назначенных врачом ЦПП рекомендаций:</th>
                            <td> {{ patient.kontrol_ispolneniya_naznachennykh_vrachom_cpp_rekomendacij }}  </td>
                        </tr>
                        <tr>
                            <th>Вывод:</th>
                            <td> {{ patient.vyvod  }}  </td>
                        </tr>
                    </table>
                </fieldset>
            <br>
            <fieldset >
                <legend>Данные из последнего протокола врача</legend>
                <table>
                    <tr>
                        <th>1. Был ли установлен базовый план на последнем визите?</th>
                        <td>{{ patient.byl_li_ustanovlen_bazovyj_plan_na_poslednem_vizite }}</td>
                    </tr>
                    <tr>
                        <th>2. Какая дата следующего визита врача согласно протоколу?</th>
                        <td>{{ patient.kakaya_data_sleduyushchego_vizita_vracha_soglasno_protokolu }}</td>
                    </tr>
                    <tr>
                        <th>Количество дней от прошлого визита врача:</th>
                        <td>{{ koli4_dney_ot_proshlogo_vizita_vracha }}</td>
                    </tr>
                    <tr>
                        <th>3. Отображены ли все жалобы пациента в полном объеме, включая те, что не связаны с вызовами СМП?</th>
                        <td>{{ patient.otobrazheny_li_vse_zhaloby_pacienta_v_polnom_obeme }}</td>
                    </tr>
                    <tr>
                        <th>4. Динамика состояния</th>
                        <td>{{ patient.dinamika_sostoyaniya }}</td>
                    </tr>
                    <tr>
                        <th>5. Дата назначеного аудиопротокола согласно протокола врача</th>
                        <td>{{ patient.data_naznachenogo_audioprotokola_soglasno_protokolu_v }}</td>
                    </tr>
                </table>
            </fieldset>
        <br>
                <fieldset >
                    <legend>Данные от Заведующего</legend>
                    <table>
                        <tr>
                            <th>6. Дата получения сведений по вызовам СМП от КЦ</th>
                            <td>{{ patient.data_polucheniya_svedenij_po_vyzovam_smp_ot_kc }}</td>
                        </tr>
                        <tr>
                            <th>7. Дата аудиопротокола после получения данных о вызове СМП?</th>
                            <td>{{ patient.data_audioprotokola_posle_polucheniya_dannykh_o_vyzove_smp }}</td>
                        </tr>
                        <tr>
                            <th>Колчество дней  от момента получения данных по СМП до совершеня звонка</th>
                            <td>{{ dni_kolichestvo_dnej_ot_momenta_polucheniya_dannykh_po_smp_do_sover }}</td>
                        </tr>
                        <tr>
                            <th>8. Какова причина вызова СМП по резуьтатам аудиоконтроля?</th>
                            <td>{{ patient.kakova_prichina_vyzova_smp_po_rezutatam_audiokontrolya }}</td>
                        </tr>
                        <tr>
                            <th>9. Какие действия были предприняты СМП?</th>
                            <td>{{ patient.kakie_dejstviya_byli_predprinyaty_smp }}</td>
                        </tr>
                        <tr>
                            <th>10. Текущее состояние пациента после вызова СМП</th>
                            <td>{{ patient.tekushchee_sostoyanie_pacienta_posle_vyzova_smp }}</td>
                        </tr>
                        <tr>
                            <th>11.Остались ли жалобы после вызова СМП?</th>
                            <td>{{ patient.ostalis_li_zhaloby_posle_vyzova_smp }}</td>
                        </tr>
                        <tr>
                            <th>12. Описание жалоб</th>
                            <td>{{ patient.opisanie_zhalob }}</td>
                        </tr>
                        <tr>
                            <th>13. Были ли лекарственные средства отоварены по рецепту?</th>
                            <td>{{ patient.byli_li_lekarstvennye_sredstva_otovareny_po_receptu }}</td>
                        </tr>
                        <tr>
                            <th>14. Пациент принимает назначенные лекарственные средства?</th>
                            <td>{{ patient.pacient_prinimaet_naznachennye_lekarstvennye_sredstva }}</td>
                        </tr>
                        <tr>
                            <th>15. Эффективна ли назначенная медикаментозная терапия?</th>
                            <td>{{ patient.ehffektivna_li_naznachennaya_medikamentoznaya_terapiya }}</td>
                        </tr>
                        <tr>
                            <th>16. Есть ли побочные действия от назначенных лекарственных средств?</th>
                            <td>{{ patient.est_li_pobochnye_dejstviya_ot_naznachennykh_lekarstvennykh }}</td>
                        </tr>
                        <tr>
                            <th>17. Пациенту была озвучена дата следующего визита?</th>
                            <td>{{ patient.pacientu_byla_ozvuchena_data_sleduyushchego_vizita }}</td>
                        </tr>
                        <tr>
                            <th>18. Пациенту были предоставлены контактные номера ЦПП?</th>
                            <td>{{ patient.pacientu_byli_predostavleny_kontaktnye_nomera_cpp }}</td>
                        </tr>
                        <tr>
                            <th>19. Пациент звонил по указанным контактным номера до вызова СМП?</th>
                            <td>{{ patient.pacient_zvonil_po_ukazannym_kontaktnym_nomera_do_vyzova_smp }}</td>
                        </tr>
                        <tr>
                            <th>20. Причина по которой пациент не звонил по указанным номерам (при отсутствие звонка)</th>
                            <td>{{ patient.prichina_po_kotoroj_pacient_ne_zvonil_po_ukazannym_nomeram }}</td>
                        </tr>
                        <tr>
                            <th>21. Соответствует ли назначенный базовый план состоянию пациента?</th>
                            <td>{{ patient.sootvetstvuet_li_naznachennyj_bazovyj_plan_sostoyaniyu_pacie }}</td>
                        </tr>
                        <tr>
                            <th>22. Требуется ли госпитализация на данный момент?</th>
                            <td>{{ patient.trebovanie_gospitalizacii_na_dannyj_moment }}</td>
                        </tr>
                        <tr>
                            <th>23. Выявленные дефекты в работе врача</th>
                            <td>{{ patient.vyyavlennye_defekty_v_rabote_vracha }}</td>
                        </tr>
                    </table>
                </fieldset>
                <br>
                <fieldset>
                    <legend>Данные от КЭР</legend>
                    <table>
                        <tr>
                            <th>Базовый план назначен корректно</th>
                            <td>{{ patient.bazovyj_plan_naznachen_korrektno }}</td>
                        </tr>
                        <tr>
                            <th>Оценка состояния соответствует базовому плану</th>
                            <td>{{ patient.ocenka_sostoyaniya_sootvetstvuet_bazovomu_planu }}</td>
                        </tr>
                        <tr>
                            <th>Жалобы описаны в полном объёме</th>
                            <td>{{ patient.zhaloby_opisany_v_polnom_obeme }}</td>
                        </tr>
                        <tr>
                            <th>Оценка заведующего произведена корректно</th>
                            <td>{{ patient.ocenka_zaveduyushchego_proizvedena_korrektno }}</td>
                        </tr>
                        <tr>
                            <th>Оценка действий врача до вызова СМП</th>
                            <td>{{ patient.ocenka_dejstvij_vracha_do_vyzova_smp }}</td>
                        </tr>
                        <tr>
                            <th>Оценка действий после вызова СМП</th>
                            <td>{{ patient.ocenka_dejstvij_posle_vyzova_smp }}</td>
                        </tr>
                        <tr>
                            <th>Выводы по результатм оценки</th>
                            <td>{{ patient.vyvody_po_rezultatm_ocenki }}</td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>Статус</legend>
                    <table>
                        <tr>
                            <th>Статус записи</th>
                            <td>{{ patient.ok_vps }}</td>
                        </tr>
                    </table>
                </fieldset>
            <br>
                <fieldset>
                    <legend>Поля для внесения данных</legend>
                    <table>
                        <tr>
                            <th>Анализ действий главным врачом</th>
                            <td><input type="text" name="analiz_dejstvij_glavnym_vrachom" value="{{ patient.analiz_dejstvij_glavnym_vrachom }}" > </td>
                        </tr>
                    </table>
                </fieldset>
            <br>
            <fieldset >
                <legend>Данные по вызову СМП</legend>
                <table >
                    <tr>
                        <th >Дата вызова СМП:</th>
                        <td > {{ patient.data_vyzova_smp }} </td>
                    </tr>
                    <tr>
                        <th >№ п/п:</th>
                        <td > {{ patient.p_p }} </td>
                    </tr>
                    <tr>
                        <th>ФИО пациента:</th>
                        <td> {{ patient.fio_pacienta  }}  </td>
                    </tr>
                    <tr>
                        <th>Количество выездов в день:</th>
                        <td> {{ patient.kolichestvo_vyezdov_v_den  }}  </td>
                    </tr>
                    <tr>
                        <th>Дата рождения:</th>
                        <td> {{ patient.data_rozhdeniya  }}  </td>
                    </tr>
                    <tr>
                        <th>Полис ОМ:</th>
                        <td> {{ patient.polis_oms  }}  </td>
                    </tr>
                    <tr>
                        <th>Результат вызова:</th>
                        <td> {{ patient.rezultat_vyzova  }}  </td>
                    </tr>
                    <tr>
                        <th>Актив / Пассив:</th>
                        <td> {{ patient.aktiv_passiv  }}  </td>
                    </tr>
                    <tr>
                        <th>Диагноз по MКБ:</th>
                        <td> {{ patient.diagnoz_po_mkb  }}  </td>
                    </tr>
                    <tr>
                        <th>Причина вызова скорой помощи:</th>
                        <td> {{ patient.prichina_vyzova_skoroiy_pomoschi  }}  </td>
                    </tr>
                    <tr>
                        <th>Наличие болевого синдрома:</th>
                        <td> {{ patient.nalichie_bolevogo_sindroma  }}  </td>
                    </tr>
                    <tr>
                        <th>Причина вызова скорой помощи (кратко):</th>
                        <td> {{ patient.prichina_vyzova_skoroiy_pomoschi_kratko  }}  </td>
                    </tr>
                    <tr>
                        <th>Курирующее подразделение ОВПП:</th>
                        <td> {{ patient.kuriruyushchee_podrazdelenie_ovpp  }}  </td>
                    </tr>
                    <tr>
                        <th>Дата включения в Регистр:</th>
                        <td> {{ patient.data_vklyucheniya_v_registr  }}  </td>
                    </tr>
                    <tr>
                        <th>Дата последнего визита врача из протокола осмотра ЕМИАС:</th>
                        <td> {{ patient.data_poslednego_vizita_vracha_iz_protokola_osmotra_emias  }}  </td>
                    </tr>
                </table>
            </fieldset>
            </div>
        </div>




    </form>

{% endblock %}