<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать запись пациента</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>
    <header>
        <h3>{% block title %} Редактировать запись пациента {% endblock %} </h3>
        Вы авторизованы как " {{user}} "<br>
    </header>

    <nav>

    </nav>

        <main>
        {% block content %}
        <!-- Основной контент будет вставлен сюда -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 ЦПП. Все права защищены.</p>
    </footer>
</body>
</html>