<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Данные из БД</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script>
            function submitForm() {
                document.getElementById('searchForm').submit();
            }
        </script>
</head>
<body>
   <header>
        <h4>Данные из таблицы СМП</h4>
        <div style="text-align: right; margin-top: -30px; margin-bottom: 20px;">
            <strong>Общее количество записей: {{ total_records }}</strong>
        </br>
        </br>
       Вы авторизованы как " {{user}} "
        <!--       ** @2 {{groups}} ****<br>-->
        <!--       ** @3 {{group_names}} ****<br>-->
        <!--       ** @4 {{group}} ****<br>-->
        <!--       ** @5 {{request.user.groups}} ****<br>-->
        <!--       ** @6 {{user.groups.all}} ****<br>-->
        <!--       ** @7 {{user.groups.filter.values}} ****<br>-->
        <!--     4  {{user.groups.values.0.name}}<br>-->
        <!--     5  {{user.groups.1.name}}<br>-->
        </div>
    </header>

    <nav>
        <a href="{% url 'my_app_smp:start_page' %}" class="btn">Возврат к списку ТАБЛИЦ</a>
<!--        <a href="#" class="btn">КЭР</a>-->
<!--        <a href="#" class="btn">Контакты</a>-->
<!--        <a href="#" class="btn">Помощь</a>-->

        <a href="{% url 'my_app_smp:help' %}" class="btn">Помощь</a>
       <a  href="{% url 'my_app_smp:logout' %}" class="btn">Выход</a>


    </nav>




    <!-- Форма поиска и количество записей на странице -->
    <form method="GET" action="" class="search-container">
        <div style="width: 100%;">
            <div>
                    <input style="background-color: #b5cfde;" type="text" name="search_fio" placeholder="Введите  фамилию пациента" value="{{ search_fio }}">

                    <select name="search_kurir" onchange="submitForm()">
                    <option value="">Фильтр ВПС(Все ВПС)</option>
                                {% for kurir in unique_kurir %}
                                    <option value="{{ kurir }}" {% if kurir == search_kurir %}selected{% endif %}>{{ kurir }}</option>
                                {% endfor %}
                    </select>
                    <!----------- ПЕРЕДАННЫЕ В КЭР------------------->
                    {% if 'ker' or 'glav' or 'admin' in groups %}
                    <select name="search_otrabot" onchange="submitForm()">
                    <option value="">Статус отработки(ВСП/КЭР/ГВ)</option>
                                {% for otrab_ in unique_otrab %}
                                    <option value="{{ otrab_ }}" {% if otrab_ == search_otrabot %}selected{% endif %}>{{ otrab_ }}</option>
                                {% endfor %}
                    </select>
                    {% endif %}
                    <!----------- ПЕРЕДАННЫЕ В КЭР------------------->
                    <button class="btn_save" type="submit">Применить фильтр</button>
            </div>
            <div style="text-align: right;">
                Количество строк: <input type="number" style="width: 50px;" name="records_per_page" placeholder="Записей на странице" value="{{ records_per_page }}" min="1">
            </div>

        </div>


    </form>

<table class="table_home">
    <thead>
        <tr>
            <th>Действия</th>  <!-- Изменено на "Действия" для ясности -->
            <!-- <th>№ п/п</th> -->
            <th>Дата вызова СМП</th>
            <th>ФИО пациента</th>
            <th>Количество выездов в день</th>
            <th>Дата рождения</th>
            <th>Полис ОМС</th>
             <th>Результат вызова</th>
            <th>Актив / Пассив</th>
            <th>Диагноз по МКБ</th>
            <!-- <th>Причина вызова скорой помощи</th> -->
            <th>Наличие болевого синдрома</th>
            <th>Причина вызова скорой помощи (кратко)</th>
            <th>Курирующее подразделение ОВПП</th>
            <th>Дата включения в регистр</th>
            <th>Дата последнего визита врача из протокола осмотра EMIAS</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data_smp %}
            <tr>
                <td>


                    {% if user.is_authenticated %}
                    {% if 'vps' in groups %}
                    <a href="{% url 'my_app_smp:edit_patient' item.id %}" class="btn_save">Правки(ВПС)</a> <!-- Ссылка на редактирование -->
                    {% endif  %}
                    {% if 'ker' in groups %}
                    <a href="{% url 'my_app_smp:edit_ker' item.id %}" class="btn_save">Правки(КЭР)</a><!-- Ссылка на редактирование -->
                    {% endif  %}
                     {% if 'glav' in groups %}
                    <a href="{% url 'my_app_smp:edit_glav' item.id %}" class="btn_save">Правки(Главврач)</a><!-- Ссылка на редактирование -->
                    {% endif  %}
                    {% endif  %}
                </td>
                <!-- <td>{{ item.p_p }}</td> -->
                <td>{{ item.data_vyzova_smp|date:"d.m.Y" }}</td>
                <td>{{ item.fio_pacienta }}</td>
                <td>{{ item.kolichestvo_vyezdov_v_den }}</td>
                <td>{{ item.data_rozhdeniya|date:"d.m.Y"  }}</td>
                <td>{{ item.polis_oms }}</td>
                 <td>{{ item.rezultat_vyzova }}</td>
                <td>{{ item.aktiv_passiv }}</td>
                <td>{{ item.diagnoz_po_mkb }}</td>
                <!-- <td>{{ item.prichina_vyzova_skoroiy_pomoschi }}</td> -->
                <td>{{ item.nalichie_bolevogo_sindroma }}</td>
                <td>{{ item.prichina_vyzova_skoroiy_pomoschi_kratko }}</td>
                <td>{{ item.kuriruyushchee_podrazdelenie_ovpp }}</td>
                <td>{{ item.data_vklyucheniya_v_registr|date:"d.m.Y"  }}</td>
                <td>{{ item.data_poslednego_vizita_vracha_iz_protokola_osmotra_emias|date:"d.m.Y"  }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!--    &lt;!&ndash; Пагинация &ndash;&gt;-->
<!--    <div class="pagination">-->
<!--        <span class="step-links">-->
<!--            {% if data_smp.has_previous %}-->
<!--                <a href="?page=1">&laquo; Первая</a>-->
<!--                <a href="?page={{ data_smp.previous_page_number }}">Предыдущая</a>-->
<!--            {% endif %}-->

<!--            <span class="current">-->
<!--                Страница {{ data_smp.number }} из {{ data_smp.paginator.num_pages }}.-->
<!--            </span>-->

<!--            {% if data_smp.has_next %}-->
<!--                <a href="?page={{ data_smp.next_page_number }}">Следующая</a>-->
<!--                <a href="?page={{ data_smp.paginator.num_pages }}">Последняя &raquo;</a>-->
<!--            {% endif %}-->
<!--        </span>-->
<!--    </div>-->
<!--    &lt;!&ndash; Пагинация &ndash;&gt;-->

      <!-- Пагинация -->
<div class="pagination">

    {% if data_smp.has_previous %}
        <a href="?page={{ data_smp.previous_page_number }}&records_per_page={{ records_per_page }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'records_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Предыдущая</a>
    {% endif %}

<!--    {% for num in paginator.page_range %}-->
<!--        {% if num == data_smp.number %}-->
<!--            <span>{{ num }}</span>-->
<!--        {% else %}-->
<!--            <a href="?page={{ num }}&records_per_page={{ records_per_page }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'records_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a>-->
<!--        {% endif %}-->
<!--    {% endfor %}-->
            <span class="current">
                Страница {{ data_smp.number }} из {{ data_smp.paginator.num_pages }}.
            </span>

    {% if data_smp.has_next %}
        <a href="?page={{ data_smp.next_page_number }}&records_per_page={{ records_per_page }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'records_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Следующая</a>
    {% endif %}
</div>
<!-- Пагинация -->

    <footer>
        <p>&copy; 2024 ЦПП./ Все права защищены.</p>
    </footer>
</body>
</html>
