<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Начальная страница</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <h1>Добро пожаловать!</h1>
    <div style="text-align: right; margin-top: -30px; margin-right: 30px;">
        Вы авторизованы как " {{user}} "<br>
        <!-- Ваша группа:  {{groups}} -->
        <p>Активных пользователей: {{ active_user_count }}</p>
    </div>
</header>
<nav>
    <!-- <a href="{% url 'my_app_smp:ny' %}" class="btn_ny">С наступающим Новым Годом!</a> -->
    <a href="{% url 'my_app_smp:help' %}" class="btn">Помощь</a>
    <a href="{% url 'my_app_smp:results' %}" class="btn">Дашборд</a>
    <a href="{% url 'my_app_smp:logout' %}" class="btn">Выход</a>
</nav>
<div style="text-align: center;">
    <h3>Для продолжение работы выберите необходимое приложение:</h3>
    {% if 'soc_koordinator' not in groups or 'admin' in groups %}
    <a href="{% url 'my_app_smp:home' %}" class="btn_start">Перейти в приложение СМП</a><br>
    {% endif  %}
    {% if 'soc_koordinator' not in groups  or 'admin' in groups %}
    <a href="{% url 'app_planfact:plf_start_list' %}" class="btn_start">Перейти в приложение План-факт</a><br>
<!--    <a href="#" class="btn_start">Перейти в приложение План-факт</a><br>-->

    {% endif  %}
    {% if 'admin' in groups or 'glav' in groups or 'soc_koordinator' in groups or 'stacionar' in groups %}
    <a href="{% url 'app_kis_long:v_kis_home' %}" class="btn_start">Перейти в приложение "КИС-60"</a><br>
    {% endif %}

     {% if 'mk' in groups or 'ker' in groups or  'admin' in groups  %}
        <a href="{% url 'app_id:v_id_add_svedeniya_o_pac' %}" class="btn_start">Внести сведения о пациенте</a><br>
     {% endif  %}

    {% if 'uborka' in groups or 'admin' in groups  %}
    <a href="{% url 'app_uborka:v_start_uborka' %}" class="btn_start">Уборка</a><br>
     {% endif  %}
    <p></p>
</div>
<footer>
    <p>&copy; 2025. Все права защищены.</p>
</footer>
</body>
</html>