<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Данные из БД</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script>
            function submitForm() {
                document.getElementById('searchForm').submit();
            }
        </script>
</head>
<body>
   <header style="background-color: #004b00;">
        <h4>Данные таблицы ПЛАН-ФАКТ</h4>
        <div style="text-align: right; margin-top: -30px; margin-bottom: 20px;">
            <strong>Общее количество записей: {{ total_records }}</strong>
        </br>
        </br>
       Вы авторизованы как " {{user}} "
        </div>
    </header>

    <nav>
        <a href="{% url 'my_app_smp:start_page' %}" class="btn">Возврат к списку ТАБЛИЦ</a>
        <a href="{% url 'app_planfact:plf_export_to_excel' %}?search_data_zamecaniya={{ search_data_zamecaniya }}"
                                                    class="btn">Вывод ПФ в Excel</a>
        <a href="{% url 'my_app_smp:help' %}" class="btn">Помощь</a>
        <a  href="{% url 'my_app_smp:logout' %}" class="btn">Выход</a>
    </nav>

Количество записей, полученное после применения фильтров: {{filter_records}}
    <!--------------------------------------------------------ФИЛЬТРЫ----------------------------------------------->
    <!-- Форма поиска и количество записей на странице -->
    <form method="GET" action="" class="search-container">
        <div style="width: 100%;">
            <div>
                    <label for="search_data_zamecaniya">Дата замечания:</label>
                     <input id="search_data_zamecaniya" style="background-color: #b5cfde; width: 100px;" type="date" name="search_data_zamecaniya" placeholder="Введите дату" value="{{ search_data_zamecaniya }}">

                    <input style="background-color: #b5cfde;" type="text" name="search_fio" placeholder="Введите  фамилию пациента" value="{{ search_fio }}">

                    <select name="search_kurir" onchange="submitForm()">
                    <option value="">Фильтр ВПС(Все ВПС)</option>
                                {% for kurir in unique_kurir %}
                                    <option value="{{ kurir }}" {% if kurir == search_kurir %}selected{% endif %}>{{ kurir }}</option>
                                {% endfor %}
                    </select>
                    <!----------- ПЕРЕДАННЫЕ В КЭР------------------->
                    {% if 'ker' or 'glav' or 'admin' in groups %}
                    <select name="search_otrabot" onchange="submitForm()">
                    <option value="">Статус отработки(ВСП/КЭР/ГВ)</option>
                                {% for otrab_ in unique_otrab %}
                                    <option value="{{ otrab_ }}" {% if otrab_ == search_otrabot %}selected{% endif %}>{{ otrab_ }}</option>
                                {% endfor %}
                    </select>
                    {% endif %}
                    <!----------- ПЕРЕДАННЫЕ В КЭР------------------->
                    <a href="{% url 'app_planfact:plf_start_list' %}?search_fio=&search_kurir=&search_otrabot=" class="">Сбросить фильтры</a>
                    <button class="btn_save" type="submit">Применить фильтр</button>
            </div>
            <div style="text-align: right;">
                Количество строк: <input type="number" style="width: 50px;" name="records_per_page" placeholder="Записей на странице" value="{{ records_per_page }}" min="1">
            </div>
    <!--------------------------------------------------------ФИЛЬТРЫ------------------------------------------------>
        </div>
    </form>

           <main>
        {% block content %}
        <!-- Основной контент будет вставлен сюда -->

<table class="table_home">
    <thead>
        <tr>
            <!--------------- Заголовки -------------------------->
            <th>Действия</th>  <!-- Изменено на "Действия" для ясности -->
            <th>Дата получения замечания</th>
            <th>ПОЛИС ОМС</th>
            <th>ФИО</th>
            <th>ДР</th>
            <th>ОВПП</th>
            <th>Плановая дата визита согласно ЕМИАС/реестру</th>
            <th>Фактическая дата визита согласно ЕМИАС</th>
            <th>Вопрос для разбора</th>
            <th>Статус выполнения</th>

        </tr>
    </thead>
    <tbody>
        {% for item in data_plf %}
            <tr>
                <td>

                    {% if user.is_authenticated %}
<!--                    {% if 'vps' in groups %}-->
                    <a href="{% url 'app_planfact:plf_edit_patient' item.id %}" class="btn_save">Правки(ВПС)</a> <!-- Ссылка на редактирование -->
<!--                    {% endif  %}-->
                    {% if 'ker' in groups %}
                    <a href="{% url 'app_planfact:plf_proverka_to_ker' item.id %}" class="btn_save">Правки(КЭР)</a><!-- Ссылка на редактирование -->
                    {% endif  %}
                     {% if 'glav' in groups %}
                    <a href="{% url 'app_planfact:plf_proverka_to_ker' item.id %}" class="btn_save">Правки(Главврач)</a><!-- Ссылка на редактирование -->
                    {% endif  %}
                    {% endif  %}
                </td>
                <td>{{ item.data_planfakta|date:"d.m.Y"  }}</td>
                <td>{{ item.polis_oms }}</td>
                <td>{{ item.fio_pacienta }}</td>
                <td>{{ item.data_rozhdeniya|date:"d.m.Y"  }}</td>
                <td>{{ item.ovpp_name  }}</td>
                <td>{{ item.planovaya_data_vizita_soglasno_emias_reestru|date:"d.m.Y"  }}</td>
                <td>{{ item.fakticheskaya_data_vizita_soglasno_emias|date:"d.m.Y"  }}</td>
                <td>{{ item.vopros_dlya_razbora  }}</td>
                <td>{{ item.ok_status_zapolnenia  }}</td>

            </tr>
        {% endfor %}
    </tbody>
</table>

    <!-- Пагинация -->
                        <!-- Пагинация -->
<div class="pagination">

    {% if data_plf.has_previous %}
        <a href="?page={{ data_plf.previous_page_number }}&records_per_page={{ records_per_page }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'records_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Предыдущая</a>
    {% endif %}
            <span class="current">
                Страница {{ data_plf.number }} из {{ data_plf.paginator.num_pages }}.
            </span>

    {% if data_plf.has_next %}
        <a href="?page={{ data_plf.next_page_number }}&records_per_page={{ records_per_page }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'records_per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Следующая</a>
    {% endif %}
</div>
<!-- Пагинация -->


<!-- ко----------------------------------------нец блока endblock------------------------>
    {% endblock %}
    </main>
    <footer style="background-color: #004b00;">
        <p>&copy; 2024 ЦПП. Все права защищены.</p>
    </footer>
</body>
</html>
