{% extends 'kis_long_home.html' %}
{% block title %} Детали о пациенте: {{ patient.fio_pacienta }}.{% endblock %}

{% block content %}
<!--pravka_zayavka.html <br>-->
<!--v_kis_pravka_zayavka-->
    <form method="POST">


        {% csrf_token %}
        {% load custom_filters1 %}
<nav>
    <a href="{% url 'app_kis_long:v_kis_home' %}" class="btn">Вернуться к общему списку</a>

</nav>

<div class="field-group-2-columns">
        <div>
            <fieldset >
                <legend>Данные по пациенту (из КИС)</legend>
                <table >
                    <tr> <th >ФИО:</th>                     <td > {{ patient.fio_pacienta  }} </td>     </tr>
                    <tr> <th >Дата рождения</th>           <td > {{ patient.data_rozhdeniya }} </td>    </tr>
                    <tr> <th>отделение:</th>                <td> {{ patient.otdelenie  }}  </td>  </tr>
                    <tr> <th>Дата госпит:</th>             <td> {{ patient.data_gospit  }}  </td>   </tr>
                    <tr> <th>Койко_дни:</th>                   <td> {{ patient.data_gospit|days_difference  }}  </td>   </tr>
                    <tr> <th>Диагноз основной:</th>            <td> {{ patient.diagnoz_osnovnoj  }}  </td>  </tr>
<!--                    <tr> <th>Дата выписки:</th>               <td> {{ patient.data_vypiski  }}  </td>  </tr>-->
<!--                    <tr> <th>Исход госпит:</th>              <td> {{ patient.iskhod_gospit  }}  </td>  </tr>-->
                    <tr> <th>№ истории болезни:</th>          <td> {{ patient.n_istorii_bolezni  }}  </td>   </tr>
                </table>
            </fieldset>
<br>
            <fieldset>
                              <!------------------------------------------ -->
                 <legend>Медицинский блок оценки (последние изменения по пациенту: {{patient.data_last_changed}} )</legend>
          <table>
                <tr> <th>ФИО заведующего отд</th>                   <td>{{ patient.fio_zaveduyushchego_otd|default_if_none:'-'  }}</td> <tr>
                <tr> <th>ФИО лечащего врача</th>                    <td>{{ patient.fio_lechashchego_vracha |default_if_none:'-' }}</td>  <tr>
                <tr> <th>PPI :</th>                                  <td>{{ patient.ppi|default_if_none:'-'  }}</td>     </tr>
                <tr> <th>Мед.показания для стац.наблюдения:</th>    <td>{{ patient.med_pokazaniya|default_if_none:'-'  }}</td>   </tr>
                <tr> <th>Динамика состояния пациента:</th>         <td>{{ patient.dinamika_sostoyania|default_if_none:'-'  }}</td>   </tr>
                <tr> <th>Двигательная активность:</th>             <td>{{ patient.dvigatel_activnost|default_if_none:'-'  }}</td>   </tr>
                <tr> <th>Статус наблюдения :</th>                   <td>{{ patient.status_nabludeniya|default_if_none:'-'  }}</td>  </tr>

                <tr> <th>Наличие заявки на соц.координатора:</th>  <td>{{ patient.potrebnost_v_soc_koordinat|default_if_none:'-'  }}</td>  </tr>
                <tr> <th>Способность выразить согласие:</th>       <td>{{ patient.sposoben_virazit_soglasie|default_if_none:'-'  }}</td>  </tr>
                <tr> <th>Статус оформления мед.карты для путевки:</th>  <td>{{ patient.status_med_karty|default_if_none:'-'  }}</td>  </tr>
                <tr> <th>Cтатус по МСЭ:</th>                <td>{{ patient.status_po_mse|default_if_none:'-'  }}</td>  </tr>
                <tr> <th>Функцииональн.критерии:</th>              <td>{{ patient.funkciional_kriterii|default_if_none:'-'  }}</td>  </tr>
                <tr> <th>Комментарий :</th>                        <td>{{ patient.kommentarij|default_if_none:'-'  }}</td>  </tr>

          </table>
            </fieldset>
        </div>
        <div>
            <fieldset>
              <!------------------------------------------ -->
                <legend>Данные по состоянию заявки (социальный блок)</legend>
                <button class="btn_save" type="submit" name="btn_otmena_pravki_zayavka" >Отменить изменения в "Социальном блоке"</button>
                <button class="btn_save" type="submit" name="btn_save_pravki_zayavka" >Сохранить изменения в "Социальном блоке"</button>
                <table>

                 <tr>  <th>Наличие заявки в соц службу :</th>  <td>{{ patient.potrebnost_v_soc_koordinat }}</td>    </tr>

                 <tr>  <th>Соц.критерии :</th>  <td>  <select name="soc_kriterii">
            <option {% if '0.' in  patient.soc_kriterii %}selected{% endif %}> 0. Сведения не указаны</option>
            <option {% if '2.1' in  patient.soc_kriterii %}selected{% endif %}>2.1. Отсутствие близких или родственников</option>
            <option {% if '2.2' in  patient.soc_kriterii %}selected{% endif %}>2.2. Неспособность семьи обеспечить уход</option>
            <option {% if '2.3' in  patient.soc_kriterii %}selected{% endif %}>2.3. Наличие социального конфликта</option>
            <option {% if '2.4' in  patient.soc_kriterii %}selected{% endif %}>2.4. Отказ от ухода</option>
                                </select> </td> </tr>

                 <tr>   <th>Состояние заявки :</th>
                 <td>Карта -> {{ patient.status_med_karty }}  МСЭ-> {{ patient.status_po_mse }} </td> </tr>

                 </tr>

                 <tr>  <th>Тема заявки_Помощь в жизнеустройстве</th>
                     <td> <textarea rows="5" cols="45" name="tema_zayavki_pomosh_v_zhizneustrojstve"   >{{ patient.tema_zayavki_pomosh_v_zhizneustrojstve }}</textarea></td>         </tr>

                 <tr> <th>Наличие родственников</th>
                     <td><input type="text" name="nalichie_rodstvennikov"  value="{{ patient.nalichie_rodstvennikov }}" ></td>  </tr>

                 <tr> <th>Дата передачи соц.координаторам ДТСЗН</th> <td>{{ patient.data_peredachi_soc_koordinatoram_dtszn }}</td>    </tr>

                 <tr> <th>Дата принятия в работу соц координаторами ДТСЗН</th> <td>{{ patient.data_prinyatiya_v_rabotu_soc_koordinatorami_dtszn }}</td>    </tr>

                 <tr> <th>Статус пациента (группа инвалидности)</th> <td>  <select name="status_pacienta">
                         <option {% if 'нет' in  patient.status_pacienta %}selected{% endif %}>нет инвалидности </option>
                         <option {% if '4' in  patient.status_pacienta %}selected{% endif %}>группа 4</option>
                         <option {% if '3' in  patient.status_pacienta %}selected{% endif %}>группа 3</option>
                         <option {% if '2' in  patient.status_pacienta %}selected{% endif %}>группа 2</option>
                         <option {% if '1' in  patient.status_pacienta %}selected{% endif %}>группа 1</option>
                                </select> </td> </tr>

                 <tr>  <th>Соц.координатор (ФИО)</th>  <td><input type="text" name="soc_koordinator"  value="{{ patient.soc_koordinator }}" ></td>         </tr>

                 <tr> <th>Статус решения о переводе </th> <td>  <select name="status_resheniya_o_perevode">
                         <option {% if '1.' in  patient.status_resheniya_o_perevode %}selected{% endif %}>1. Сбор документов для запроса в ДТСЗН</option>
                         <option {% if '2.' in  patient.status_resheniya_o_perevode %}selected{% endif %}>2. Ожидание ответа от ДТСЗН </option>
                         <option {% if '3.' in  patient.status_resheniya_o_perevode %}selected{% endif %}>3. Ожидание путевки</option>
                         <option {% if '4.' in  patient.status_resheniya_o_perevode %}selected{% endif %}>4. Путевка выдана</option>
                                </select> </td> </tr>

                <tr>  <th>Последняя дата изменения статуса решения о переводе </th>   <td>{{ status_last_date }}</td>  <tr>

                 <tr> <th>Пояснения к решению о переводе </th>
                      <td> <textarea rows="5" cols="45" name="poyasneniya_k_resheniyu_po_pac"   >{{ patient.poyasneniya_k_resheniyu_po_pac }}</textarea></td>         </tr>

                 <tr> <th>Решение ДТСЗН по путевке </th>  <td> <select name="reshenie_dtszn_po_putevke">
                         <option {% if '1.' in  patient.reshenie_dtszn_po_putevke %}selected{% endif %}>1. Док.направлены, ожидается ответ ДТСЗН</option>
                         <option {% if '2.' in  patient.reshenie_dtszn_po_putevke %}selected{% endif %}>2. Получение путевки одобрено </option>
                         <option {% if '3.' in  patient.reshenie_dtszn_po_putevke %}selected{% endif %}>3. В получении путевки отказано</option>
                                </select> </td> </tr>
                 <tr> <th>Дата принятия решения ДТСЗН по путевке</th>
                     <td><input type="date" name="data_resheniya_dtszn" value="{{ patient.data_resheniya_dtszn|date:'Y-m-d' }}" >  </td> </tr>
<!--                     <td><input type="date" name="data_resheniya_dtszn" value="{{ patient.data_resheniya_dtszn}}" ></td> </tr>-->

                 <tr> <th>Комментарий соц координаторов ДТСЗН</th>
                        <td> <textarea rows="10" cols="45" name="kommentarij_soc_koordinatorov_dtszn"   >{{ patient.kommentarij_soc_koordinatorov_dtszn }}</textarea></td>         </tr>


                </table>
            </fieldset>
            </br>

        </div>
    </div>
{% endblock %}